out
dist
node_modules
.vscode-test/
*.vsix
src/test
src/*.js
src/*.map
src/commands/*.js
src/commands/*.map

src/generators/*.js
src/generators/*.map

src/utils/*.js
src/utils/*.map

*.md


.eslintrc.json
.vscode-test.mjs
webpack.config.js